.btn-whatsapp {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 17px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px; /* Ajusta el valor según tus necesidades */
  margin: 0 auto; /* Centra el botón horizontalmente */

  i {
    margin-right: 10px;
    font-size: 20px;
  }

  &:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.btn-whatsapp img {
  max-width: 25px;
}

.btn-whatsapp a {
  color: inherit;
  text-decoration: none;
}
