/* PagoPage.css */

/* PagoPage.css */

body {
  font-family: 'Electrolize', sans-serif;
  background-color: #f4f4f4;
 }
 
 .pagopage {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(47, 134, 166, 0.3);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #FF8C00;
 }
 
 .pagopage h2 {
  margin-top: 0;
  text-align: center;
 }
 
 .pagopage p {
  margin: 10px 0;
 }
 
 .pagopage input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
 }
 
 .pagopage button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FF8C00;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }
 
 .pagopage button:hover {
  background-color: #ffa000;
 }
 
 .pagopage-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 }
 
 .pagopage-image {
  width: 70px;
  height: auto;
  margin: 0 10px;
 }
 
 .pagopage-factura-container {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(160, 224, 240, 0.5);
 }
 
 .pagopage-factura-datos {
  margin-bottom: 10px;
 }
 
 .pagopage-factura-label {
  font-weight: bold;
  display: inline-block;
  width: 120px;
 }
 
 .pagopage-gracias {
  margin-top: 20px;
  text-align: center;
 }

 .seguir-comprando {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 30px auto;
  background-color: #008CBA;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }
 
 .seguir-comprando:hover {
  background-color: #007B9A;
 }
 